.headerVoyagr {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #e84323;
  border-bottom: 1px solid #bababa;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 49;
}

.headerVoyagrPosition {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 48;
}

.logo {
  display: flex;
  justify-content: center;
  position: relative;
  top: 18px;
  width: 100%;
  height: 40px;
  z-index: 48;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f7;
  border-top: 1px solid #bababa;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  z-index: 50;
}

.nav-link {
  text-decoration: none;
  color: #28292b;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50px;
}

.nav-link-active {
  color: #e84323;
  font-weight: bold;
}

@media (min-width: 600px) {
  .navbar {
    height: 80px;
  }

  .nav-link {
    font-size: 14px;
  }
}

.active-icon {
  height: 100px;
  width: auto;
  z-index: 70;
  position: fixed;
  bottom: 2.5em; /* Vertically center it */
  right: 50%; /* Horizontally center it */
  transform: translate(50%, 50%); /* Use transform to center it precisely */
}
